body{
    background-color: rgb(206, 12, 12);
}

#gir {
    position: absolute;
    top: 0;
    left: 0;
    background-image:url('gir.png');
    height: 62px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none
}  
.gir_1 {
    background-position: 0 0
}  
.gir_2 {
    background-position: 0 -62px
}  
.gir_3 {
    background-position: 0 -124px
}

.nadpis{
    display: flex;
    justify-content: center;
}
.NG{
    margin: 0;
    padding: 0;
    font-size: 7.5vw;
    margin-top: 1.5vw;
    font-family: kras;
}
.timer {
    display: flex;
    grid-template-columns: 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem;
    font-size: 13rem;
    justify-content: center;
    margin-top: 10vw; 
    font-family: kras;
}
  
.timer__item {
    position: relative;
}
  
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #000000;
}
.elka{
    border: 2px solid black;
}
img{
    width: 25%;
    height: 45%;
    position: absolute;
    right: 10px;
    bottom: 30px;
}
img:hover{
    filter: drop-shadow(0 0 10px rgb(255, 166, 0));  
}
@font-face {
    font-family: "kras";
    src: url(Postertoaster.otf);
}